---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: TGT-229574-elRiayjf2i1OuMKQxgHfeBkH97ZK77Nmm4v54YQ0u1SmbPGKnA-cas
  recorded_at: Thu, 03 Jan 2019 20:31:18 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-229574-elRiayjf2i1OuMKQxgHfeBkH97ZK77Nmm4v54YQ0u1SmbPGKnA-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: ST-850671-YjyJxaY7I3fooaseoCwc-cas
  recorded_at: Thu, 03 Jan 2019 20:31:19 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&profile=MU2%20Update%202016-04-01&ticket=ST-850671-YjyJxaY7I3fooaseoCwc-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.292" displayName="Emergency Department Visit" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="4525004" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2015-09" displayName="Emergency department patient visit (procedure)"/>
                </ns0:ConceptList>
                <ns0:Source>The Joint Commission</ns0:Source>
                <ns0:Purpose>(Clinical Focus: This set of values identifies procedures representing an emergency department encounter.),(Data Element Scope: The intent of this data element is to identify patients who have had an emergency department encounter.  Using the Quality Data Model, this particular element will map to the "Encounter" category.),(Inclusion Criteria: Include codes representing an emergency department visit encounter utilizing the SNOMED CT code system.),(Exclusion Criteria: None)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2017-07-26</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Thu, 03 Jan 2019 20:31:19 GMT
recorded_with: VCR 3.0.3
