---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: TGT-63364-nGwYQHcrrjxadUGuimXJnB9wWfKGsadM6GpW4ooPdHeObUQ1Xm-cas
  recorded_at: Tue, 15 Jan 2019 20:05:48 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-63364-nGwYQHcrrjxadUGuimXJnB9wWfKGsadM6GpW4ooPdHeObUQ1Xm-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ST-326345-Ol7vZTIxKmavBsxMsbs4-cas
  recorded_at: Tue, 15 Jan 2019 20:05:49 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1179.2&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-326345-Ol7vZTIxKmavBsxMsbs4-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113762.1.4.1179.2" displayName="Operating room location" version="N/A">
                <ns0:ConceptList/>
                <ns0:Source>Yale</ns0:Source>
                <ns0:Purpose>(Clinical Focus: Locations within the hospital setting where surgeries are performed.),(Data Element Scope: Location attribute),(Inclusion Criteria: Include codes for hospital based operating rooms or suites where sedation or anesthesia are administered by licensed staff.),(Exclusion Criteria: Exclude codes for any other location in the hospital.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-01-15</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Tue, 15 Jan 2019 20:05:49 GMT
recorded_with: VCR 3.0.3
