---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: apikey=<VSAC_API_KEY>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    body:
      encoding: UTF-8
      string: TGT-1630444-RNhcjEA0GWJAYU63s97caI5qHf6HK014ApnXEgi5aVBfPgf49B-cas
  recorded_at: Thu, 15 Apr 2021 13:57:16 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values?alt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 15 Apr 2021 13:57:17 GMT
    body:
      encoding: UTF-8
      string: '{"version":"1.0","encoding":"UTF-8","feed":{"xmlns":"http://www.w3.org/2005/Atom","xmlns$openSearch":"http://a9.com/-/spec/opensearchrss/1.0/","xmlns$gsx":"http://schemas.google.com/spreadsheets/2006/extended","id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values"},"updated":{"$t":"2021-04-15T13:57:17.749Z"},"category":[{"scheme":"http://schemas.google.com/spreadsheets/2006","term":"http://schemas.google.com/spreadsheets/2006#list"}],"title":{"type":"text","$t":"Sheet1"},"link":[{"rel":"alternate","type":"application/atom+xml","href":"https://docs.google.com/spreadsheets/d/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/pubhtml"},{"rel":"http://schemas.google.com/g/2005#feed","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values"},{"rel":"http://schemas.google.com/g/2005#post","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values"},{"rel":"self","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values?alt\u003djson"}],"author":[{"name":{"$t":"serhii.ilin"},"email":{"$t":"serhii.ilin@semanticbits.com"}}],"openSearch$totalResults":{"$t":"81"},"openSearch$startIndex":{"$t":"1"},"entry":[{"id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cokwr"},"updated":{"$t":"2021-04-15T13:57:17.749Z"},"category":[{"scheme":"http://schemas.google.com/spreadsheets/2006","term":"http://schemas.google.com/spreadsheets/2006#list"}],"title":{"type":"text","$t":"urn:oid:2.16.840.1.113883.6.96"},"content":{"type":"text","$t":"url:
        http://snomed.info/sct, codesystemname: SNOMEDCT"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cokwr"}],"gsx$oid":{"$t":"urn:oid:2.16.840.1.113883.6.96"},"gsx$url":{"$t":"http://snomed.info/sct"},"gsx$codesystemname":{"$t":"SNOMEDCT"},"gsx$fhircodesystemname":{"$t":""},"gsx$comment":{"$t":""}},{"id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cpzh4"},"updated":{"$t":"2021-04-15T13:57:17.749Z"},"category":[{"scheme":"http://schemas.google.com/spreadsheets/2006","term":"http://schemas.google.com/spreadsheets/2006#list"}],"title":{"type":"text","$t":"urn:oid:2.16.840.1.113883.5.1001"},"content":{"type":"text","$t":"url:
        http://terminology.hl7.org/CodeSystem/v3-ActMood, codesystemname: ActMood,
        fhircodesystemname: v3.ActMood"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cpzh4"}],"gsx$oid":{"$t":"urn:oid:2.16.840.1.113883.5.1001"},"gsx$url":{"$t":"http://terminology.hl7.org/CodeSystem/v3-ActMood"},"gsx$codesystemname":{"$t":"ActMood"},"gsx$fhircodesystemname":{"$t":"v3.ActMood"},"gsx$comment":{"$t":""}},{"id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08[...]
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1630444-RNhcjEA0GWJAYU63s97caI5qHf6HK014ApnXEgi5aVBfPgf49B-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.86 8080"
    body:
      encoding: UTF-8
      string: ST-3350192-5ZGZ4A67NimSc2VlZtIp-cas
  recorded_at: Thu, 15 Apr 2021 13:57:18 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.201&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350207-mjGI2n317ea0ZyuygXzL-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.86 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.201" displayName="Antithrombotic Therapy_Anticoagulant" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="1037045" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2016-01" displayName="dabigatran etexilate 150 MG Oral Capsule"/>
                    <ns0:Concept code="1037179" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2016-01" displayName="dabigatran etexilate 75 MG Oral Capsule"/>
                    <ns0:Concept code="1114198" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2016-01" displayName=[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=1.3.6.1.4.1.33895.1.3.0.45&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350209-a1DfIQDZEHdzrHNwijTs-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsac[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350205-vE17rG9pou6lhqdEQWI1-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Commo[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.207&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350203-4wX4VopXsc6dmRUlRfvl-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.86 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.207" displayName="Discharged to Health Care Facility for Hospice Care" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="428371000124100" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2015-09" displayName="Discharge to healthcare facility for hospice care (procedure)"/>
                </ns0:ConceptList>
                <ns0:Source>The Joint Commission</ns0:Source>
                <ns0:Purpose>(Clinical Focus: The purpose of this value set is to represent concepts for an encounter with a discharge disposition of a patient to a health care facility for hospice care.),(Data Element Scope: This value set may use a model element related to Encounter.),(Inclusion Criteria: Includes concepts that represent an encounter with a discharge disposition to a health care facility.),(Exclusion Criteria: No exclusions.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2021-04-15</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Thu, 15 Apr 2021 13:57:21 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.209&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350204-idcDIhb2kMoSNzxKeb6d-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350202-NBUQETSi0RVsC5RXRKWu-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350200-TbtS97iWsg6MUYlQ0oWi-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsac[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.212&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350201-A49vNTRNhISu5MbLE9na-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.247&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350211-yd7n5H9BuLrCCH3X1QjZ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.308&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350196-pWxAbfeaQmswPEHrUZnY-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.473&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350195-6tRASxbcOUmbNvlyeqcD-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.424&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350210-Wd4vsIkxGDw90qzndp7D-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350199-1a55bfzlz65rNGq2FKIW-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350208-FQY1eAgRIkEXI0DoWkdd-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.309&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350198-BVXPlczoxZfqxJxAlbrT-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Comm[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.93&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350194-T6PAkqaccUGaiir53rOf-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Commo[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350197-W7QvFiabFDRdeR4Akg9x-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsa[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350193-VpEdwrTOidQKCRdZgXRV-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsac[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1110.39&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350212-l6VK5plglnNA5a3xRzRK-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/v[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&includeDraft=yes&profile=MU2%20Update%202016-04-01&ticket=ST-3350192-5ZGZ4A67NimSc2VlZtIp-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/v[...]
