---
http_interactions:
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20Hybrid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: '{"name":"CMS Hybrid","description":"Core Clinical Data Elements and
        Hybrid Measures use a set of core clinical data elements, clinical variables
        from electronic health records (EHRs), that are routinely collected and can
        be feasibly extracted for use in risk-adjusted hospital-level hybrid outcome
        measures.","release":[{"name":"CMS 2018 IQR Voluntary Hybrid Reporting","releaseDate":20171117}]}'
  recorded_at: Fri, 11 Jan 2019 18:37:48 GMT
recorded_with: VCR 3.0.3
