---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: apikey=<VSAC_API_KEY>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8080"
    body:
      encoding: UTF-8
      string: TGT-1672225-c46uLuNI9HPMcdjhQ9i2gDf6eAdNudNFQj0q0Q4odwQTqymGRe-cas
  recorded_at: Thu, 15 Apr 2021 16:12:52 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1672225-c46uLuNI9HPMcdjhQ9i2gDf6eAdNudNFQj0q0Q4odwQTqymGRe-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8080"
    body:
      encoding: UTF-8
      string: ST-3392624-TUKnx6VvGRd6Dv45ItOa-cas
  recorded_at: Thu, 15 Apr 2021 16:12:52 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.201&profile=MU2%20Update%202016-04-01&ticket=ST-3392627-Me2ebzYOjW5OPey2O24V-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.201" displayName="Antithrombotic Therapy_Anticoagulant" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="1037045" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2016-01" displayName="dabigatran etexilate 150 MG Oral Capsule"/>
                    <ns0:Concept code="1037179" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2016-01" displayName="dabigatran etexilate 75 MG Oral Capsule"/>
                    <ns0:Concept code="1114198" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2016-01" displayName=[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=1.3.6.1.4.1.33895.1.3.0.45&profile=MU2%20Update%202016-04-01&ticket=ST-3392628-VXAzQWgd4kRrfkFWrvWn-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&profile=MU2%20Update%202016-04-01&ticket=ST-3392626-vfxpbgvghKXNYxWcq5ul-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.207&profile=MU2%20Update%202016-04-01&ticket=ST-3392625-pj4S0FIzGtIEX3ZCyAAR-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.207" displayName="Discharged to Health Care Facility for Hospice Care" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="428371000124100" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2015-09" displayName="Discharge to healthcare facility for hospice care (procedure)"/>
                </ns0:ConceptList>
                <ns0:Source>The Joint Commission</ns0:Source>
                <ns0:Purpose>(Clinical Focus: The purpose of this value set is to represent concepts for an encounter with a discharge disposition of a patient to a health care facility for hospice care.),(Data Element Scope: This value set may use a model element related to Encounter.),(Inclusion Criteria: Includes concepts that represent an encounter with a discharge disposition to a health care facility.),(Exclusion Criteria: No exclusions.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2021-02-20</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Thu, 15 Apr 2021 16:12:55 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.209&profile=MU2%20Update%202016-04-01&ticket=ST-3392640-Ek2V9Jvp9hoGMMg5ICUv-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&profile=MU2%20Update%202016-04-01&ticket=ST-3392641-jIPkQUZK6g97qRBVqefs-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=MU2%20Update%202016-04-01&ticket=ST-3392637-llpaPro0kfu3vNfWl77Y-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.212&profile=MU2%20Update%202016-04-01&ticket=ST-3392638-USNeaHzRaejA4SYcrcsH-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.247&profile=MU2%20Update%202016-04-01&ticket=ST-3392639-AEIHERBu0QvwpcH5akk5-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.308&profile=MU2%20Update%202016-04-01&ticket=ST-3392636-I2GEoonTwk1yUmr6IGUJ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.473&profile=MU2%20Update%202016-04-01&ticket=ST-3392635-Zx0qwopr9pIfwUIjdIwm-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.424&profile=MU2%20Update%202016-04-01&ticket=ST-3392634-TaS7FhRDD3OxXjuJZ1Jr-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&profile=MU2%20Update%202016-04-01&ticket=ST-3392630-r2ZgR37OIzmjJLSynVsB-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=MU2%20Update%202016-04-01&ticket=ST-3392631-NRaGp5AfEWwBZXopnLL5-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8080[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.309&profile=MU2%20Update%202016-04-01&ticket=ST-3392629-cKFl5zGxE9km7DZdYhgM-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.93&profile=MU2%20Update%202016-04-01&ticket=ST-3392633-ous0x1eJYxYY3XiyJyMh-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=MU2%20Update%202016-04-01&ticket=ST-3392632-jzFaphgO0zBO7Wt90KPc-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=MU2%20Update%202016-04-01&ticket=ST-3392647-GKWLD0zJ5ZzMSHbivJmZ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1110.39&profile=MU2%20Update%202016-04-01&ticket=ST-3392646-RqQpZVydJrCJfz6f56Sg-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.8[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&profile=MU2%20Update%202016-04-01&ticket=ST-3392624-TUKnx6VvGRd6Dv45ItOa-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.8[...]
