---
http_interactions:
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20Pre-rulemaking%20eCQM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"CMS Pre-rulemaking eCQM","description":"CMS pre-rulemaking
        eCQMs include measures that are developed, but specifications are not finalized
        for reporting in a CMS program. The Pre-rulemaking eCQM value sets specify
        terminology codes for use in these pre-rulemaking eCQMs.","release":[{"name":"CMS
        Pre-rulemaking eCQM 2020-05-07","releaseDate":20200507},{"name":"CMS Pre-rulemaking
        eCQM 2019-08-30","releaseDate":20190830},{"name":"CMS Pre-rulemaking eCQM
        2019-05-10","releaseDate":20190510}]}'
  recorded_at: Fri, 03 May 2024 18:01:24 GMT
recorded_with: VCR 6.2.0
