---
http_interactions:
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20eCQM%20and%20Hybrid%20Measure
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"CMS eCQM and Hybrid Measure","description":"eCQMs use data
        from electronic health records (EHR) and/or health information technology
        systems to measure health care quality. eCQM value sets specify terminology
        codes required for eCQM measurement and are updated by CMS one or more times
        each year.","release":[{"name":"eCQM Update 2024-05-02","releaseDate":20240502},{"name":"eCQM
        Update 2023-05-04","releaseDate":20230504},{"name":"eCQM Update 2022-05-05","releaseDate":20220505},{"name":"eCQM
        Update 2021-05-06","releaseDate":20210506},{"name":"eCQM Update 2020-05-07","releaseDate":20200507},{"name":"eCQM
        Update 2019-05-10","releaseDate":20190510},{"name":"eCQM Update 2018-09-17","releaseDate":20180917},{"name":"eCQM
        Update 2018-05-04","releaseDate":20180504},{"name":"eCQM Update 2018 EP-EC
        and EH","releaseDate":20170929},{"name":"eCQM Update 4Q2017 EH","releaseDate":20170915},{"name":"eCQM
        Update 2017-05-05","releaseDate":20170505},{"name":"MU2 Update 2017-01-06","releaseDate":20170106},{"name":"MU2
        Update 2016-04-01","releaseDate":20160401},{"name":"MU2 Update 2015-05-01","releaseDate":20150501},{"name":"MU2
        EP Update 2014-07-01","releaseDate":20140701},{"name":"MU2 EP Update 2014-05-30","releaseDate":20140530},{"name":"MU2
        EH Update 2014-04-01","releaseDate":20140401},{"name":"MU2 EP Update 2013-06-14","releaseDate":20130614},{"name":"MU2
        EH Update 2013-04-01","releaseDate":20130401},{"name":"MU2 Update 2012-12-21","releaseDate":20121221},{"name":"MU2
        Update 2012-10-25","releaseDate":20121025}]}'
  recorded_at: Fri, 03 May 2024 18:01:24 GMT
recorded_with: VCR 6.2.0
