{{#has_multiple_codes}}
  <code {{{primary_code_and_codesystem}}}>
  {{{translation_codes_and_codesystem_list}}}
  </code>
{{/has_multiple_codes}}
{{^has_multiple_codes}}
  {{#dataElementCodes}}
  <code {{> _code}}/>
  {{/dataElementCodes}}
{{/has_multiple_codes}}
