{{#has_multiple_codes}}
  <value xsi:type="CD" {{{primary_code_and_codesystem}}}>
  {{{translation_codes_and_codesystem_list}}}
  </value>
{{/has_multiple_codes}}
{{^has_multiple_codes}}
  {{#dataElementCodes}}
  <value xsi:type="CD" {{> _code}}/>
  {{/dataElementCodes}}
{{/has_multiple_codes}}
